@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://api.instagram.com/oauth/authorize
  ?app_id=588869918546166
  &redirect_uri=https://localhost:5001/auth/signin
  &scope=user_profile,user_media
  &response_type=code
"><button class="btn success">Generate Token</button></a>
    
</div>
